@import "tailwindcss";

@theme {
  --color-primary-100: hsla(26, 100%, 50%, 1);
  --color-primmary-500: hsla(26, 100%, 95%, 1);

  /* colors */
  --color-dark-100: hsla(0, 0%, 0%, 1);
  --color-dark-200: hsla(225, 21%, 7%, 1);
  --color-dark-300: hsla(223, 22%, 11%, 1);
  --color-dark-400: hsla(223, 22%, 17%, 1);
  --color-dark-500: hsla(229, 14%, 29%, 1);

  --color-light-900: hsla(0, 0%, 100%, 1);
  --color-light-850: hsla(0, 0%, 99%, 1);
  --color-light-800: hsla(210, 22%, 96%, 1);
  --color-light-700: hsla(219, 43%, 90%, 1);
  --color-light-500: hsla(225, 41%, 63%, 1);
  --color-light-400: hsla(227, 20%, 60%, 1);

  /* border radius */
  --radius-2: 8px;
  --radius-1: 6px;
  --radius-2lg: var(--radius);
  --radius-2md: calc(var(--radius) - 2px);
  --radius-2sm: calc(var(--radius) - 4px);

  /* box shadow */
  --shadow-light-100:
    0px 12px 20px 0px rgba(184, 184, 184, 0.03),
    0px 6px 12px 0px rgba(184, 184, 184, 0.02),
    0px 2px 4px 0px rgba(184, 184, 184, 0.03);
  --shadow-light-200: 10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-light-300: -10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-dark-100: 0px 2px 10px 0px rgba(46, 52, 56, 0.1);
  --shadow-dark-200: 2px 0px 20px 0px rgba(39, 36, 36, 0.04);

  /* Background Images */
  --bg-auth-dark: url("/images/auth-dark.png");
  --bg-auth-light: url("/images/auth-light.png");

  --breakpoint-xs: 420px;

  --font-inter: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);
}

@layer utilities {
  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter text-teal-200;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .body-bold {
    @apply text-[14px] font-bold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px];
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }
}
